html 
{
  height: 100%;
  width: 100%;
}

body 
{
  background-color: white;

}

p
{
  font-family: geologica;
  font-weight: lighter;
}

@font-face 
{
  font-family: oliver;
  src: url('oliver_3/Oliver-regular.ttf') format("truetype");
}

@font-face 
{
  font-family: geologica;
  src: url('oliver_3/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf') format("truetype");
}

/*index.html styling*/

title
{
  font-family: oliver;
}

h1 
{
  color: black;
  font-family: oliver;
  text-align: left;
  margin-top: 100px;
  margin-left: 20px;
  font-size: 50px;
}

#titletext 
{
  color: black;
  margin-top: 30px;
  font-size: 22px;
  margin-bottom: 40px;
  margin-left: 20px;
  padding: 10px;
  font-family: geologica;
  font-weight: lighter;
}

strong 
{
  position: relative;
}

strong::before 
{
  /* Highlight color */
  background-color: pink;

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

#letterbutton
{
  cursor: pointer;
  position: relative;
  background-color:white;
  border-color: black;
  color: black;
  font-family: oliver;
  padding: 12px;
  border-radius: 12px;
  margin-left: 30px;
  border-style: solid;
  font-size: 20px;
  border-width: 3px;
}

#letterbutton:hover
{
  color: black;
  background-color:yellowgreen;
  border: none;
  padding: 12px;
}

.description
{
  font-family: geologica;
  margin-top: 10px;
}

#goodfor
{
  font-family: oliver;
  font-size: 35px;
}

ul
{
  list-style-type: none;
  line-height: 2;
  font-family: geologica;
  font-weight: lighter;
}


/*newsletter.html styling*/

#homebutton
{
  border: none;
  font-family: oliver;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  background-color: white;
}

#newslettertitle
{
  margin-top: 40px;
  font-size: 60px;
  margin-left: 40px;

}

#newsletterdesc
{
  margin-top: 40px;
  font-size: 20px;
  margin-left: 40px;
  font-family: geologica;
  font-weight: lighter;
}

h3
{
margin-bottom: 5px;
font-family: oliver;
font-size: 30px;
margin-left: 40px;
}

#steps 
{
  padding: 3px;
  margin-top: 10px;
  font-family: geologica;
  font-weight: lighter;
  line-height: 1.7;
  margin-left: 40px;
  font-size: 22px;
}

.basicinfo
{
  font-weight: bold;
  font-family: oliver;
  font-size: 30px;
  margin-left: 40px;

}

#frm1
{
  font-size: 17px;
  font-family: geologica;
  font-weight: lighter;
  margin-left: 40px;
}

#newsheader
{
  font-weight: bold;
  font-family: oliver;
  font-size: 30px;
  margin-left: 40px;
}

#commas
{
  font-size: 15px;
  margin-left: 40px;
}

#frm2
{
  font-size: 17px;
  font-family: geologica;
  font-weight: lighter;
  margin-left: 40px;
}
.reveal
{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active
{
  transform: translateY(0);
  opacity: 1;
}

input[type=email]
{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid#000000;
  font-family: geologica;
  font-size: 16px;
}
input[type=text] 
{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 1px;
  background:transparent;
  border: none;
  border-bottom: 2px solid#000000;
  font-family: geologica;
  font-size: 16px;
}

input[type=text]:focus 
{
  border-color: #b6e756;
  background: transparent;
  outline: none;
}

input[type=email]:focus 
{
  border-color: #b6e756;
  background: transparent;
  outline: none;
}

#newssubmit
{
  cursor: pointer;
  position: relative;
  background-color:white;
  border-color: black;
  color: black;
  font-family: oliver;
  padding: 12px;
  border-radius: 12px;
  border-style: solid;
  font-size: 20px;
  border-width: 3px;
}

#newssubmit:hover
{
  color: black;
  background-color:yellowgreen;
  border: none;
}



